[Unit]
Description=temp-logger
After=network.target

[Service]
ExecStart=/home/pi/temp-logger.sh
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target